@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}


.button {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border-radius: 4px;
  border: none;
}


.common-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px 0;
  padding: 0;
}

.common-paragraf {
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}



/* Main Page Common */

.white {
  color: #ffffff;

}

.main-index {
  flex-grow: 1;
  width: 1200px;
  display: flex;
  flex-direction: column;
}


/* Header */

.main-header {
  display: grid;
  grid-template-columns: 140px 890px;
  padding: 0 70px 0 70px;
  margin: 0 auto;
  column-gap: 30px;
}

.logo-header {
  margin-bottom: -8px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}


.navigation-list-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  padding: 20px 16px 20px 16px;
}

.navigation-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.navigation-user-link {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 23px 13px 23px 13px;
}


.search {
  background-image: url("../images/icon-search.svg");
  background-repeat: no-repeat;
  min-width: 18px;
  min-height: 18px;
  background-position: 50% 50%;
}


.favorites {
  background-image: url("../images/icon-favorites.svg");
  background-repeat: no-repeat;
  min-width: 18px;
  min-height: 17px;
  background-position: 50% 50%;
}

.navigation-favorites-result {
  background-color: #7DB54F;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding: 4px 5px 4px 5px;
  position: relative;
  left: 11px;
  bottom: 10px;
}



.button-want {
  background-color: #756157;
  padding: 8px 34px 8px 34px;
  margin-left: 20px;
  }





/* Main page cover (Hero Block) */

.index-cover {
  background-image: url("../images/cover-background.jpg");
  background-size: 1200px 485px;
  background-repeat: no-repeat;
  background-color: #83B3D3;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 52px;
  box-sizing: border-box;
}

.index-cover-welcome {
  margin-bottom: 25px;
}


/* Advantages */

.small-town {
  padding: 69px 270px 69px 270px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}


.advantages-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 385px;
  padding: 0 85px 0 85px;
  box-sizing: border-box;
}


.img-advantages {
  height: 385px;
}



.side-advantages {
  background-color: #82B3D3;
}

.blue-background {
  background-color: #83B3D31F;
}

.darkblue-background {
  background-color: #83B3D333;
}


.advantages-separator {
  size: 2px;
  width: 60px;
  color: #000000;
  margin: 30px auto 30px auto;
}


.item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
}

.item-description {
  text-align: center;
  margin: 0;
  padding: 0;
}



/* Services */

.come-to-sedona {
  padding: 64px 350px 64px 350px;
}

.services-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
  }


.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 81px 85px 81px 85px;
  box-sizing: border-box;
}

.services-title {
  padding: 30px 0;
}


/* Interested */

.interested {
  text-align: center;
  margin: 0;
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 96px;
}

.button-interested {
  display: inline-block;
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px 8px 50px;
  margin-top: 54px;
}





/* Search page cover */

.main-inner {
  flex-grow: 1;
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.cover-seach-hotels {
  background-image: url("../images/background-search.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 412px;
  background-color: #756157;
  color: #ffffff;
  line-height: 23px;
  font-weight: 400;
  width: 1200px;
  margin: 0 auto;
  padding: 35px 70px 70px 70px;
  box-sizing: border-box;
}


.inner-cover-title {
font-size: 60px;
line-height: 78px;
margin: 0;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 8px 0 40px 0;
}

.breadcrumbs-item {
  margin-right: 10px;
}


.catalog-filter {
  display: grid;
  grid-template-columns: 150px 150px 358px 191px;
  margin: 0;
  padding: 0;
  column-gap: 70px;
}


.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin: 0 0 32px 0;
}

.catalog-filter-item:not(:last-child) {
  padding: 0;
  margin: 0 0 16px 0;
}


.filter {
  margin: 0;
  padding: 0;
  border: none;
}


.filter-input {
  margin: 0;
  padding: 0;
}

.price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 0 70px;
  border: none;
}

.price-field {
  border: none;
  width: 103px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 4px 0px 0px 4px;
  margin: 0;
  padding: 12px 20px 12px 20px;
  background: #F2F2F2;
}

.price-field-to {
  border-radius: 0px 4px 4px 0px;
}

.price-field:focus {
  border: 0;
  margin: 0;
}

.buttons-field {
  padding: 56px 0 0 0;
}

.catalog-filter-price-slider {
  width: 288px;
}

.button-apply {
  background-color: #82B3D3;
  padding: 8px 50px 8px 50px;
}

.button-reset {
  background-color: #82b2d300 ;
  padding: 8px 57px 8px 57px;
  margin-top: 32px;
}



/* Catalogs Sorting */

.hotels-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 70px 46px 70px;
  margin: 0 auto;
}

.search-title {
  flex-grow: 1;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}


.hotels-select-control {
  width: 292px;
  padding: 14px 20px;
  margin: 0 62px 0 0;
  border: 2px solid #E5E5E5;
  font-size: 18px;
}

.sorting {
  display: flex;
  justify-content: space-between;
}

.view-sorting {
display: block;
padding: 17px 16px 17px 16px;
border: 2px solid #000000;
border-radius: 4px;
margin-left: 8px;
min-width: 16px;
min-height: 14px;
}


.cards {
  background-image: url("../images/icon-cards-view.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.one-card {
  background-image: url("../images/icon-one-card-view.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.cards-list {
  background-image: url("../images/icon-list-cards-view.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}



/* Catalog */

.hotels-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 70px 0 70px;
}

.hotel-card {
  width: 300px;
  border: 1px solid #E6E6E6;
  padding: 20px;
  margin: 0 0 20px 0;
  border-radius: 4px;
}

.hotel-card-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000000;
}

.hotel-card-title {
  order: 1;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 16px 0;
}


.hotel-card-description {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.hotel-card-buttons {
  display: flex;
  justify-content: space-between;
  margin: 16px 0 16px 0;
}

.button-detailes {
  background-color: #756157;
  padding: 8px 26px 8px 26px;
}

.button-favorites {
  background-color: #82B3D3;
  padding: 8px 20px 8px 20px;
}

.rating {
  display: flex;
  justify-content: space-between;
}

.rating-result-stars {
  background-image: url("../images/icon-star.svg");
  background-repeat: no-repeat;
  min-width: 18px;
  min-height: auto;
  background-position: 50% 50%;
}

.rating-result-number {
  text-transform: uppercase;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 9px 22px 8px 22px;
}



/* Subscribe */
.subscribe {
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-color: #756157;
  color: #ffffff;
  padding: 96px 258px;
}


.subscribe-white {
  padding: 96px 258px;
}


.subscribe-button {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px 8px 50px;
  border-radius: 0 5px 5px 0;
}

.subscribe-form {
  display: flex;
  margin: 0 auto;
  margin-top: 62px;
}


.field-email {
  padding: 0 0 0 20px;
  border: 0;
  flex-grow: 1;
  border-radius: 5px 0 0 5px;
  font-size: 18px;
}

.grey-field {
  background-color: #F2F2F2;
}

/* Separator */

.inner-separator {
  width: 1060px;
  size: 1px;
  color: #000000;
  margin: 20px auto 40px auto;
}

/* Pagination */

.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto 60px auto;
  padding: 0 70px 0 70px;
}

.pagination-item {
  background-color: #82B3D3;
  margin-right: 8px;
  border-radius: 4px;
  padding: 12px 0 0 0;
  min-width: 60px;
  min-height: 60px;
  box-sizing: border-box;
  text-align: center;
}

.pagination-link {
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  background-color: #F2F2F2;
}

.current {
  color: #000000;
}



/* Footer */

.main-footer {
  display: flex;
  width: 1060px;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px 70px;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.footer-social-item {
  padding: 12px;
  background-position: 50% 50%;
}


.vk {
  background-image: url("../images/icon-social-vk.svg");
  background-repeat: no-repeat;
  min-width: 24px;
  min-height: 17px;
}

.telegram {
  background-image: url("../images/icon-social-telegram.svg");
  background-repeat: no-repeat;
  min-width: 18px;
  min-height: 15px;
}

.youtube {
  background-image: url("../images/icon-social-youtube.svg");
  background-repeat: no-repeat;
  min-width: 22px;
  min-height: 17px;
}

.footer-phone-number a {
font-size: 40px;
line-height: 40px;
text-decoration: none;
font-style: normal;
color: #000000;
}




.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
